/* define font */

@import url('https://fonts.googleapis.com/css?family=Rokkitt:300|Spectral+SC'); /* import fonts */
html{ font-size:21px; font-family: 'Rokkitt', serif; } /* define base font and size */

h1, h2, h3, h4, h5 {
    font-family: 'Spectral SC', serif;
}


/* other */

img[alt=pdf_preview] { max-width: 200px; max-height:250px; } /* restricts images w/ tag pdf_preview to a reasonable preview size*/
img[alt=research_cover],img[alt=research_gif]  { max-width: 300px; max-height:300px; } /* restricts images w/ tag pdf_preview to a reasonable preview size*/


.paper_preview, .reseach_preview {
    display:flex;
    flex-flow: column wrap;
    text-align:center;
    padding:0px 0px;
    height:100%;
    margin:5px;
    outline: none;
    cursor:pointer;
}

.paper_preview:hover, .reseach_preview:hover {
    color:#1E88E5;
    cursor:pointer;
}
.paper_preview > p:nth-child(1), .reseach_preview > p:nth-child(1) {
    border:1px solid white;
    outline: none;
}
.paper_preview:hover > p:nth-child(1), .reseach_preview:hover > p:nth-child(1) {
    border:1px solid #90CAF9;
}

.paper_preview > p:nth-child(2) {
    margin:auto;
    height:60px;
    overflow:hidden;
    max-width:175px;
}
